body{

  background-image: url("https://i.pinimg.com/originals/93/80/6e/93806e1f03bbc5a2ef358b0128e0263e.gif");

  align-content: center;

  <text-align: center;
  width: 100%; 
	max-width: 999px;

 
     
  

}

h1{
  
  align-content: center;
}
h2{
  
  align-content: center;
}
mark{
 background-color: #ffffff;}